matplotlib==3.1.1
imbalanced_learn==0.7.0
streamlit==0.71.0
numpy==1.16.5
seaborn==0.9.0
pandas==1.1.0
imblearn==0.0
scikit_learn==0.23.2

The data (sample) were collected in São Paulo — Brazil, The dataset used for this activity has 7 attributes, consumption being a Target, with period of one year.

The goal is to determine what factors contribute o beer consumption and use an appropriate ML model to predict the consumption of beer.

The link to the analysis is below:

https://leandersavio.shinyapps.io/DOC1/ (SAFARI,CHROME,EDGE)


Ready-to-eat breakfast cereal can make for a convenient and healthy breakfast, 
especially if it's made with whole grains, is low in sugar and is served with 
fresh fruit and low-fat milk. But sugary cereals that lack 
fiber and protein can cause a blood sugar spike and crash before lunchtime